h1{
    background-color: pink;
    color:black;
    font-size:40px;
}
h2{
    background-color:green;
    color:white;
    font-size:30px;
}
p{
    background-color: red;
    color:black;
    font-size:35px;
}
h3{
    background-color:yellow;
    color:red;
    font-size:25px;
}